$white: #fff;
$dark-gray: #333;
$blue: rgb(61, 146, 201);
$light-gray: #c0c0c0;
$post-margin: 0 5% 2%;
$gray: #999;
$orange: #ff8c00;
$tag-font-size: .82em;
$footer-font-size: .80em;

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: $blue;
}
a:hover,
a:focus {
    text-decoration: none;
}

.header {
    top: auto;
    margin: 3em auto;
}

.sidebar {
    text-align: center;
    position: fixed;
    top: 0;
    bottom: 0;
    background: $dark-gray;
    color: $white;
    .sidebarContainer {
        padding: 2em 1em;
        .logo-side {
            border-radius: 50%;
            max-width: 50%;
            height: auto;
        }
        .about {
            margin-top: 2em;
            a {
                color:$white;
            }
        }
        .Socials {
            padding: 0;       
            li {
                display: inline;
                margin: 0 .5em 0 .5em;
                .Socalink {  
                    list-style-type: none;
                    //display: inline;
                    padding-top: 1em;
                    padding-bottom: 1em;
                }
                a {
                    i.fa{
                        font-size: 2em;
                        line-height: 2em;
                    }
                    display: inline-block;
                    border-radius: 100%;
                }
            }
        }
    }
}

content.content {
    margin-left: 25%;
    padding: 0 0 1em 0;

    .nav {
        background-color: black;
        a {
            color: $white;
            background-color: black;
        }
        a:hover,
        a:focus {
            color: $orange;
            background-color: black;
        }
    }
    .posts {
        margin: $post-margin; 
    }
    .postDetail {
        margin: $post-margin; 
    }
    .tagHeader {
        color: $gray;
        font-size: $tag-font-size;
        a {
            color: $orange;
        }
    }
}

.footer {
    border-top: 1px solid $light-gray;
    text-align: center;
    padding: 1em 0;
    font-size: $footer-font-size;
    color: $gray;
    a {
        color: $orange;
        font-size: 80%;
    }
    .pure-menu a:hover,.pure-menu a:focus {
        background: none;
    }
}